<header> 
  <%= link_to 'Home', root_path %> /

  <%= link_to @regional_office.name, @regional_office %>
</header>
<h2><%= @regional_office.name %></h2>

<h3>National Offices in <%= @regional_office.name %></h3>

<p class="guidance">Select your National Office</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Programmes</th>
      <th>Top Change</th>
    </tr>
  </thead>

  <tbody>
    <% @regional_office.national_offices.each do |national_office| %>
      <tr>
        <td><%= link_to national_office.name, national_office %></td>
        <td><%= national_office.programmes.count %></td>
        <td><%= national_office.top_change.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="guidance">To view reports click the buttons below</p>
<%= button_to "#{@regional_office.name} Report", regional_office_report_path(@regional_office), method: :get %>