<header> 
  <%= link_to 'Home', root_path %> /

  <%= link_to @national_office.regional_office.name, @national_office.regional_office %> /

  <%= link_to @national_office.name, @national_office %>
</header>

<h1>Create a New Programme <%= @national_office ? "in " + @national_office.name : "" %></h1>

<p class="guidance">To create a new programme on the system please enter the programme name and number, then click 'Create Programme'</p>
<%= render 'form' %>