<header> 
  <%= link_to 'Home', root_path %> /

  <%= link_to 'Programmes', programmes_path %>
</header>
<hr />
<h2><%= @programme.name %></h2>

<h3>Villages in <%= @programme.name %></h3>

<p class="guidance">Enter the names of each village where a discussion is held. Put each village name on a seperate line.</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Discussions</th>
      <th>Top Change</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @programme.villages.each do |village| %>
      <tr>
        <td><%= best_in_place village, :name, type: :input %></td>
        <td><%= village.discussions.count %></td>
        <td><%= village.top_change.try(:name) or "N/A" %></td>
        <td><%= button_to "Go!", village, method: :get %></td>
      </tr>
    <% end %>
    <%= simple_form_for [@programme, @programme.villages.new] do |f| %>
      <%= f.input :programme_id, as: :hidden, input_html: { value: @programme.id } %>
      <tr>
        <td><%= f.input :name, input_html: { maxlength: 20 }, label: false, autofocus: true %></td>
        <td></td>
        <td><%= f.button :submit %></td>
      <tr>
    <% end %>

  </tbody>
</table>

<p class="guidance">Click the 'Go!' button to add more information.</p>
