<header>
  <%= link_to @village.programme.name, @village.programme %> / <%= link_to @village.name, @village %>
</header>
<hr />
<h1>All Discussions</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Lead Facilitator</th>
      <th>Duration</th>
      <th>Date Held</th>
      <th>Number of Conversations</th>
      <th>Top Change</th>
    </tr>
  </thead>

  <tbody>
    <% @discussions.each do |discussion| %>
      <tr>
        <td><%= link_to discussion.group.name, discussion %></td>
        <td><%= discussion.lead_facilitator %></td>
        <td><%= discussion.duration %> Minutes</td>
        <td><%= discussion.date_held.strftime("%m-%d-%Y") %></td>
        <td><%= discussion.conversations.count %></td>
        <td>N/A</td>
      </tr>
    <% end %>
  </tbody>
</table>