<%= simple_form_for [@discussion, @conversation], html: { class: 'form-inline' } do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %>:</h2>

      <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <%= f.input :discussion_id, as: :hidden, input_html: { value: @discussion.id } %>
  <%= f.association :change, prompt: "Choose a Change", label: false %>
  <%= f.input :rank, input_html: { min: 1, max: 10 }, label: false %>
  <%= f.input :ten_seed, collection: 10.downto(1), selected: 0, label: false %>
  <%= f.input :observations, as: :text, label: false %>
  <%= f.button :submit %>

<% end %>
