<header> 
  <%= link_to 'Home', root_path %> /

  <%= link_to @discussion.village.programme.name, @discussion.village.programme %> /

<%= link_to @discussion.village.name,  programme_village_path(@discussion.village.programme, @discussion.village) %> /

<%= link_to @discussion.group.name, @discussion %> /

<%= link_to @conversation.change.name, discussion_conversation_path(@dicussion, @conversation) %>
</header>
<hr />

<h1>Further information for the change "<%= @conversation.change.name %>" with the <%= @discussion.group.name %> group in <%= @discussion.village.name %> village</h1>

<p class="guidance">Use the three tables below to add the fruits, contributors and threats for the change: "<%= @conversation.change.name %>". User ther 'reorder' handle to put the information in a prioity order. If you need to edit information just click on the text.</p>

<p class="guidance">You can create themes for the fruits if you need to group many fruits together.
<br />
<br />
When you have finished entering all the information for this change, use the navigation links at the top of the page to move back to previous levels and continue entering information</p>
<h3>Fruits</h3>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Rank</th>
      <th>Fruit</th>
      <th>Ten Seed</th>
      <th>Description</th>
      <th>Theme</th>
      <th></th> 
    </tr>
  </thead>
  <tbody id="fruit" class="sortable" data-update-url="<%= sort_conversation_fruits_url @conversation %>">
    <% @conversation.fruit.order(:rank).each do |fruit| %>
      <%= content_tag_for :tr, fruit do %>
        <td class="handle">[reorder]</td>
        <td><%= @last_rank = fruit.rank %></td>
        <td><%= best_in_place fruit, :name, type: :input %></td>
        <td><%= best_in_place fruit, :ten_seed, type: :select, collection: 10.downto(1).map{|i| [i, i]} %></td>
        <td><%= fruit.observations %></td>
        <td><%= best_in_place fruit, :theme_name, type: :input, inner_class: 'fruit_theme_name', data: { autocomplete_source: @conversation.themes.map(&:name) }, nil: "Click to add" %></td>
        <td><%= link_to "Delete", conversation_fruit_path(@conversation, fruit), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></td>
      <% end %>
    <% end %>
    <%= simple_form_for [@conversation, @conversation.fruit.new], html: { class: 'form-inline' } do |f| %>
      <tr>
        <td></td>
        <%= f.input :conversation_id, as: :hidden, input_html: { value: @conversation.id } %>
        <%= f.input :rank, as: :hidden, input_html: { value: @last_rank + 1 } %>
        <td><%= @last_rank + 1 %></td>
        <td><%= f.input :name, label: false, input_html: { size: 15 }, required: true %></td>
        <td><%= f.input :ten_seed, collection: 10.downto(1), selected: 0, label: false %></td>
        <td><%= f.input :observations, as: :text, label: false %></td>
        <td><%= f.button :submit %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @last_rank = 0 %>
<h3>Contributors</h3>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Rank</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="contributors" class="sortable" data-update-url="<%= sort_conversation_contributors_url @conversation %>">
    <% @conversation.contributors.order(:rank).each do |contributor| %>
      <%= content_tag_for :tr, contributor do %>
        <td class="handle">[reorder]</td>
        <td><%= @last_rank = contributor.rank %></td>
        <td><%= best_in_place contributor, :name, path: [@conversation, contributor] %></td>
        <td><%= best_in_place contributor, :observations, as: :text_box, path: [@conversation, contributor] %></td>
        <td><%= link_to "Delete", conversation_contributor_path(@conversation, contributor), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></td>
      <% end %>
    <% end %>
    <%= simple_form_for [@conversation, @conversation.contributors.new], html: { class: 'form-inline' } do |f| %>
      <tr>
        <td></td>
        <%= f.input :conversation_id, as: :hidden, input_html: { value: @conversation.id } %>
        <%= f.input :rank, as: :hidden, input_html: { value: @last_rank + 1 } %>
        <td><%= @last_rank + 1 %></td>
        <td><%= f.input :name, label: false, input_html: { size: 15 } %></td>
        <td><%= f.input :observations, as: :text, label: false %></td>
        <td><%= f.button :submit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @last_rank = 0 %>
<h3>Threats</h3>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Rank</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="threats" class="sortable" data-update-url="<%= sort_conversation_threats_url @conversation %>">
    <% @conversation.threats.order(:rank).each do |threat| %>
      <%= content_tag_for :tr, threat do %>
        <td class="handle">[reorder]</td>
        <td><%= @last_rank = threat.rank %></td>
        <td><%= best_in_place threat, :name, path: [@conversation, threat] %></td>
        <td><%= best_in_place threat, :observations, as: :text_box, path: [@conversation, threat] %>
        <td></td>
        <td><%= link_to "Delete", conversation_threat_path(@conversation, threat), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></td>
      <% end %>
    <% end %>
    <%= simple_form_for [@conversation, @conversation.threats.new], html: { class: 'form-inline' } do |f| %>
      <tr>
        <td></td>
        <%= f.input :conversation_id, as: :hidden, input_html: { value: @conversation.id } %>
        <%= f.input :rank, as: :hidden, input_html: { value: @last_rank + 1 } %>
        <td><%= @last_rank + 1 %></td>
        <td><%= f.input :name, label: false, input_html: { size: 15 } %></td>
        <td><%= f.input :observations, as: :text, label: false %></td>
        <td><%= f.button :submit %></td>
      </tr>
    <% end %>
  </tbody>
</table>