<header>
  <%= link_to @village.programme.name, @village.programme %> / <%= link_to @village.name, @village %>
</header>
<hr />

<h1><%= @village.name %></h1>

<h3>Group discussions in <%= @village.name %> village</h3>

<h5>Enter the details for each discussion.</h5>
<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Lead Facilitator</th>
      <th>Duration</th>
      <th>Date Held</th>
      <th>Top Change</th>
      <th>No. Changes</th>
    </tr>
  </thead>

  <tbody>
    <% @village.discussions.each do |discussion| %>
      <tr>
        <td><%= link_to discussion.group.name, discussion %></td>
        <td><%= discussion.lead_facilitator %></td>
        <td><%= discussion.duration %> Minutes</td>
        <td><%= discussion.date_held.strftime("%m-%d-%Y") %></td>
        <td><%= discussion.top_change.respond_to?(:name) ? discussion.top_change.name : "N/A" %></td>
        <td><%= discussion.conversations.count %></td>
      </tr>
    <% end %>
  <%= simple_form_for @village.discussions.new do |f| %>
    <tr>
      <%= f.input :village_id, as: :hidden, input_html: { value: @village.id } %>
      <td><%= f.text_field :group_name, required: true, data: { autocomplete_source: Group.all.map(&:name) }, label: false %></td>
      <td><%= f.input :lead_facilitator, input_html: { maxlength: 20 }, label: false %></td>
      <td><%= f.input :duration, collection: (30..180).step(30).map {|n| "#{n} minutes" }, selected: 0, label: false %></td>
      <td><%= f.input :date_held, as: :date, label: false %></td>
      <td><%= f.button :submit, value: "Create Group" %></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>

