<h2><%= @national_office.name %></h2>

<h5>Programmes under <%= @national_office.name %></h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>No. Villages</th>
      <th>Top Change</th>
    </tr>
  </thead>

  <tbody>
    <% @national_office.programmes.each do |programme| %>
      <tr>
        <td><%= link_to programme.name, programme %></td>
        <td><%= programme.number %></td>
        <td><%= programme.villages.count %></td>
        <td><%= programme.top_change.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Programme", new_national_office_programme_path(@national_office) %>