<header> 
  <%= link_to 'Home', root_path %> /

  <%= link_to @national_office.regional_office.name, @national_office.regional_office %> /

  <%= link_to @national_office.name, @national_office %>
</header>
<h3>Programmes in <%= @national_office.name %></h3>

<p class="guidance">Select an existing programme from the list, or use the button below to start a new programme.</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Number of Villages</th>
      <th>Top Change</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @national_office.programmes.each do |programme| %>
      <tr>
        <td><%= best_in_place programme, :name, type: :input %></td>
        <td><%= best_in_place programme, :number, type: :input %></td>
        <td><%= programme.villages.count %></td>
        <td><%= programme.top_change.try(:name) %></td>
        <td><%= button_to "Go!", programme, method: :get %>
        <td><%= button_to "Delete", [@national_office, programme], method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Create New Programme", new_national_office_programme_path(@national_office), method: :get %>