<h3>Programmes in <%= @national_office.name %></h3>

<p class="guidance">Select an existing programme from the list, or use the button below to start a new programme.</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Number of Villages</th>
      <th>Top Change</th>
    </tr>
  </thead>

  <tbody>
    <% @national_office.programmes.each do |programme| %>
      <tr>
        <td><%= link_to programme.name, programme %></td>
        <td><%= programme.number %></td>
        <td><%= programme.villages.count %></td>
        <td><%= programme.top_change.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Create New Programme", new_national_office_programme_path(@national_office), method: :get %>