<header> 
  <%= link_to 'Home', root_path %> /

  <%= link_to @programme.national_office.regional_office.name, @programme.national_office.regional_office %> /

  <%= link_to @programme.national_office.name, @programme.national_office %> /

  <%= link_to @programme.name, [@national_office, @programme] %>
</header>

<h2><%= @programme.name %> Report</h2>

<h3><%= @programme.name %>'s changes</h3>
<%= render 'changes' %>

<h3>Group Changes</h3>
<%= render 'groups' %>